.header-top__nav {
    @include responsive(m-phone) {
        width: 70%;
    }
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        @include responsive(m-phone) {
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    li:not(:last-child) {
        margin-right: 3rem;
        @include responsive(m-phone) {
            margin-right: 2;
        }
    }
    li:nth-child(3) {
        margin-right: 0;
    }
    a {
        line-height: 1.1;
        text-decoration: none;
        white-space: pre;
        color: $dark-color;
        &:hover {
            color: $accent;
        }
    }
}

.header-bottom {
    border-top: 1px solid $gray-color;
    padding: 3rem 1rem;
    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__nav-list {
        list-style: none;
        display: flex;
        align-items: center;
        @include responsive(table) {
            justify-content: space-between;
            width: 100%;
        }
        @include responsive(phone) {
            flex-wrap: wrap;
        }
    }
    &__nav-item:not(:last-child) {
        margin-right: 4rem;
        @include responsive(table) {
            margin-right: 0;
        }
    }
    &__nav-item {
        @include responsive(phone) {
            padding: 1rem 2rem;
        }
        @include responsive(m-phone) {
            padding: 1rem 1rem;
        }
    }
    &__nav-link {
        text-decoration: none;
        color: $black-color;
        font-size: 1.6rem;
        line-height: 1.17;
        &:hover {
            color: $accent;
        }
    }
}