%Buttons {
    text-decoration: none;
    background-color: transparent;
    border: 2px solid $accent;
    border-radius: 4rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.15;
    padding: 1.2rem 2.6rem;
    display: inline-block;
    @include responsive(m-phone) {
        padding: 1rem 1.8rem;
    }
}


.header-main__btn {
    @extend %Buttons;
    color: $black-color;
    &:hover {
        background-color: $accent;
        color: $white-color;
    }
    @include responsive(phone) {
        order: 2;
    }
    @include responsive(m-phone) {
        margin-top: 2rem;
    }
}

.sale__btn {
    @extend %Buttons;
    border-color: $white-color;
    font-size: 1.4rem;
    line-height: 1.1;
    color: $white-color;
    letter-spacing: 0.05em;
    &:hover {
        background-color: $white-color;
        color: $accent;
    }
}


.goods__btn {
    padding: 0.7rem 3.8rem;
    background-color: $accent;
    border-radius: 3rem;
    font-size: 1.4rem;
    line-height: 1.1;
    letter-spacing: 0.05em;
    color: $white-color;
    text-decoration: none;
    border: $accent 2px solid;
    &:hover {
        background-color:$white-color;
        color: $accent;
    }
}